/* Adam Bezák xbezak01 */
table {
    border-collapse: collapse;
}

table td {
    border: 1px solid black; /* Nastavenie sirky, druhu a farby okraju. */
}

table:focus { 
	outline: none;
}

div.selected {
    background-color: green; /* Nastavenie farby pri vybere policiek mysou. */
}

div.selectedAndDoubleClicked {
	background-color: red; /* Nastavenie farby pre doubleclick na bunku v tabulke */
}

div.tdDiv {
    width: 100px; /* Defaultna sirka bunky v tabulke. */
    min-height: 18px; /* Minimalna vyska bunky */
    max-width: 100px;
    white-space: nowrap; 
    overflow: hidden;
}

div.tdDiv:not([expression='']) {
	background-color: lightblue; /* Nastavenie farby ak bunka obsahuje matematicky vyraz */
}

div.tdDiv::selection {
	background: transparent;
}