table {
    border-collapse: collapse;
}

table td {
    border: 1px solid black;
    width: 80px;
    height: 40px;
    margin: 10px;
}

table:focus { 
	outline: none; 
}

td.selected {
    background-color: green;
}

td.selectedAndDoubleClicked {
	background-color: red;
}

td:not([expression='']) {
	background-color: lightblue;
}

td::selection {
	background: transparent;
}